In [1]:
x= 'prateek'
y= 'G'
print(x)
print(y)

prateek
G

In [2]:
first_name= 'prateek'
last_name= 'Gundi'
print(first_name,end= '-')
print(last_name)

prateek-Gundi

In [3]:
fruit= "orange"
print("i have an " + fruit)

i have an orange

In [5]:
fruit= "orange"
fruit1= " , Banana  "
print("i have an " + fruit  + fruit1)

i have an orange , Banana

In [5]:
fruit= "orange"
fruit1= " Banana  "
print("i have an 2 Fruit, one is {} other one is {}".format(fruit,fruit1))

i have an 2 Fruit, one is orange other one is  Banana

In [2]:
print('Hello-world')
print('how are you today')

Hello-world
how are you today

In [1]:
name = input("Enter your name : ")
print("hello " + name)

Enter your name : prateek
hello prateek

In [9]:
type(1*2)

int

In [13]:
x = 'true'
print(type(x))

<class 'str'>

In [15]:
type('b')

str

In [30]:
a = "my name is prateek"
print(a[0]) #indexing
print(a[3])
print(a[5])
print(a[-2]) #reverse

m
n
m
e

In [2]:
name = 'Randon'
'F' + name[1:]

'Fandon'

In [18]:
a = 'hello world'
print(a[0].upper())
print(a.lower())
print(a.startswith('h'))
print(a.endswith('d'))
a[0:11:2]

H
hello world
True
True

'hlowrd'

In [1]:
list1= [1,2,3,"maths","science","geography",True,False]

In [2]:
list1

[1, 2, 3, 'maths', 'science', 'geography', True, False]

In [12]:
list1.append("social")
print(list1)

[1, 2, 3, 4, 4, 'maths', 'science', 'geography', True, False, 'social', 'socialhindi', 'social hindi', 'social', 'social', 'social', 'social']

In [25]:
my_list = [1,2,3,4,10]
my_list.insert(4,9)
print(my_list)

[1, 2, 3, 4, 9, 10]

In [ ]:
my_num = [0,1,2,3,4,5]

In [7]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [True, False]

list1.extend(list2)
list1.extend(list3)
list1

[1, 2, 3, 4, 5, 6, 7, 8, True, False]

In [22]:
list8 = [1,2,3,4,5]
list8_copy = list8.copy()
print(list8)
list1_copy[0] = 0

[1, 2, 3, 4, 5]

In [41]:
list5 = [1,2,3,4,5,6] #POP function
rem = list5.clear()
print(rem)
list5

None

[]

In [29]:
my_list10 = [[1,2,3],[4,5,6],[7,8,9]]
my_list10[0][0]
my_list10[1][0]

4

In [80]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[-3::]

[[30, 40, [50, 60], 80], 90, 100]